:root{
    
    --PrimaryColor:rgb(40,182,27);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: rgb(121,121,122);
    --greyBg:rgb(245,245,245);
   
}

.footer{
    background: var(--greyBg);
    padding: 2rem 0;
    .seccontains{
        display: grid;
        gap: 1.5rem;
        text-align: center;
        .footlogo{
            padding-bottom: .5rem;
            .logo{
                color: var(--blackColor);
                display: flex;
                font-weight: 500;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                padding-bottom: .5rem;
                .icon{
                    font-size: 25px;
                    color: var(--PrimaryColor);
                    margin-right: .5rem;
                }
            }
        }
.social{
    display: flex;
    gap: .5rem;
    margin: auto;
    justify-content: center;

    .icon{
        font-size: 30px;
        background: var(--PrimaryColor);
        border-radius: 50%;
        padding: 8px;
        color: var(--whiteColor);
        &:hover{
            background: var(--blackColor);
        }
    }
}

.footlink{
    display: grid;
    row-gap: .2rem;
    .linktitle{
        color:var(--blackColor) ;
        padding-bottom: .5rem;
        font-weight: 700;
    }
    li{
        &:hover{
            transform: translateX(10px);
            a{
                color: var(--PrimaryColor);
            }
        }
    }

    a,.phone,.email{
        color: var(--textColor);
        font-size: 13px;
        font-weight: 500;
    }
}
    }
}

@media screen and (min-width:450px) {
    .footer{
        .seccontains{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        align-items: flex-start;
        .footlink{
            justify-content: center;
        }

    }
}
}


@media screen and (min-width:645px) {
    .footer{
        .seccontains{
grid-template-columns:repeat(4,1fr)
    }
}
}

@media screen and (min-width:900px) {
    .footer{
        .seccontains{
padding: 2rem;
    }
}
}